@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  body {
    @apply m-0 p-0;
  }
}
